@import "variables";
@import "utility";

a {
  color: $secondaryColor;
  text-decoration:none;

  :hover{
    color: $hoverColor;
  }
}

.mega-menu-wrap{
  background-color: $colorWhite !important;
  
  li.mega-menu-item {

    a.mega-menu-link{
      color: colorTheme($colorWhite) !important;
    }
    
  }

  li.mega-menu-item.mega-current-menu-item{
    
    a.mega-menu-link
    {
      background: $primaryColor!important;
      color: #ffffff!important;
    }
  }
  
  

}

.page-header .entry-title {
	color: colorTheme(#ffffff) !important;
}